---
import Layout from "@/layouts/Default.astro";
---

<Layout title="404 | tommy alden">
    <main class="flex flex-col justify-between gap-8 p-8 md:p-16">
        <section class="flex flex-col gap-4 items-center justify-center text-center my-16 sm:my-32">
            <h1 class="text-5xl md:text-8xl font-bold">404</h1>
            <h2 class="text-xl md:text-3xl font-light">page not found.</h2>
        </section>
    </main>
</Layout>